tweepy
python-dotenv
beautifulsoup4
snscrape
tqdm
ntscraper
praw
google-api-python-client
scikit-learn
langdetect 
beautifulsoup4 
pyspellchecker 
nltk 
emoji
spacy
textblob
matplotlib
seaborn
wordcloud
tensorflow
keras
gensim